.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer  h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  /* color: #fff;
  margin-bottom: 1.5rem; */

}

.inputContainer h1 span{
  color: var(--primary-color);
}

.inputContainer div{
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input{
  width: 100%;
  padding: 0.5 rem 0.2 rem 0.5 rem 0;
  text-indent: 1 rem;
  border: none;
  outline: none;
  font-size: 1 rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: red;
}

.inputContainer input::placeholder{
  font-size: 0.9 rem;
}

.inputContainer button{
  padding: 0 1 rem;
  height: 3rem;
  font-size: 0.8 rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  background-color: var(--primary-color);
  border: none;
}